* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background:url('../images/cold.jpg') center center fixed;
    background-size:cover;
    color:#fff;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    height:100vh;
}
main {
    margin:1em auto;
    max-width: 40em;
    position:relative;
    z-index: 2;
}
main:after {
    content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
    
div {
    background-color:#3F51B5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    float:left;
    margin:;
    overflow:hidden;
    padding:1em;
    position:relative;
    width:50%;
}
div.answer {
    background-color:#536DFE;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float:none;
    margin:2em auto;
    opacity:.9;
    padding:2em;
    position:absolute;
    top:2.9em;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform: translateX(-50%);
    z-index:-1;
}
button {
    background-color:#536DFE;
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    float:left;
    letter-spacing: .05em;
    margin:0 0 0 1%;
    overflow:hidden;
    padding:1em 2em;
    position:relative;
    transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    width:32.33%;
}
button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button:focus {
    outline:none;
}
input {
    background-color:#fff;
    border:0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.12), inset 0 1px 2px rgba(0,0,0,0.24);
    color:#333;
    float:left;
    padding:1em 2em;
    text-align:right;
    width:66.66%;
}
input:focus {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    outline: none;
}
label {
    font-weight:100;
}
p { 
    font-size: 2em;
    position: absolute;top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width:80%;
}
.error {
    font-size:1em;
    font-weight:100;
}
.ripple {
	display: block; position: absolute;
	background:hsla(360, 100%, 100%, 0.57);
	border-radius: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.ripple.animate {
    -webkit-animation: rippleEffect 0.5s linear;
    -moz-animation: rippleEffect 0.65s linear;
    -o-animation: rippleEffect 0.65s linear;
    animation: rippleEffect 0.65s linear;
}
@-webkit-keyframes rippleEffect {
	100% {opacity: 0; transform: scale(.5);}
}
@-moz-keyframes rippleEffect {
	100% {opacity: 0; transform: scale(2.5);}
}
@-o-keyframes rippleEffect {
	100% {opacity: 0; transform: scale(2.5);}
}
@keyframes rippleEffect {
	100% {opacity: 0; transform: scale(2.5);}
}
