/* Loading in the fonts */
@font-face {
    font-family: "Swiss Med";
    src: url("assets/SwissBTMed.woff") format("woff");
}
@font-face {
    font-family: "Swiss Condensed";
    src: url("assets/SwissBTBolCon.woff") format("woff");
}
@font-face {
    font-family: "Swiss Outlines";
    src: url("assets/SwissBTBolConOut.woff") format("woff");
}
/* Simple css reset to remove browser default margin and padding values */
* { margin:0; padding:0; box-sizing:border-box; }
body {
    color:rgba(0,0,0,.85);
    font-size: 20px;
    font-family:"Swiss Med", sans-serif;
    line-height:1.3;
}
section {
    padding:5em 0;
}
nav {
    float:right;
}
nav a {
    color:#fff;
    display:inline-block;
    padding:1em;
    text-decoration:none;
}
h1, h2, h3, h4, h5 {
    font-family:"Swiss Condensed", sans-serif;
    line-height:1;
}
h1 {
    font-size: 18vw;
    line-height: .8;
    letter-spacing: -6px;
}
span {
    font-family:"Swiss Outlines", "Swiss Condensed", sans-serif;
}
ul {
    padding-left:1.25em;
}
#intro {
    background:#f63b34;
    color:#fff;
    padding: 5em 1em 0;
}
#intro p {
    border-left:.25em dotted;
    margin: 0em 0 0 1em;
    padding: 10em 0 0 .5em;
    transform: translateY(15%);
    font-size: 1.5em;
}
#purpose {
    padding:0;
}
#purpose h2 {
    background:#84d0c4;
    font-size: 9vw;
    padding: 1em;
    text-align:right;
}
#purpose > div {
    float:left;
    padding: 5em 2em;
    width:50%;
}
#purpose div div {
    margin-top:2em;
}
#contentVsStyle {
    background: rgba(0, 0, 0, .85);
    color: #fff;
}
#contentVsStyle h2 {
    font-size:2em;
}
#contentVsStyle > h2 {
    margin-left:1em;
}
#contentVsStyle p {
    overflow:hidden;
    font-size: .75em;
}
.cvsDiv {
    margin: 1em 2em;
}
.cvsDiv {
    border-top:1px solid;
    float:left;
    margin-bottom: 5em;
    min-height: 15em;
    padding-top: .5em;
    position: relative;
    width: calc(50% - 4em);
}
.cvsDiv h3 {
    float:left;
    margin-right: 2em;
}
.interact {
    clear:both;
    margin: 0 2em;
    border-left: 1px solid;
    padding: .5em 0 .5em 1em;
    width: 66.66%;
}
.interact p {
    margin:1em 0;
}
#plan h2 {
    background:#492b2d;
    color: #fecb20;
    font-size: 12vw;
    line-height: .8;
    padding: 1em .25em;
}
#plan h2 span {
    display:block;
    letter-spacing: -.05em;
}
#plan h3 {font-size: 2em;}
.threeQuestions {
    color:#fff;
    margin-left:1em;
    text-align:right;
    transform: translateY(-100%);
}
#plan h4 {
    font-size:1em;
}
ol {
    border-bottom: 1px solid;
    list-style-position: inside;
    padding-bottom: 2em;
    height: 20em;
}
ol li {
    border-left: 1px solid;
    font-size: 2em;
    float: left;
    height: 100%;
    padding: 0 1em;
    position: relative;
    width: 33.33%;
}
ol li:first-of-type {
    border:none;
}
ol li p {
    font-size: .5em;
    padding: 0 2em;
    position:absolute;
    bottom: 1em;
    right: 0;
    text-align: right;
    width: 90%;
}
.warning {
    background: #fecb20;
    color: #492b2d;
    font-size: 3vw;
    padding: 2em 1em;
}
.warning h3 span {
    display:block;
    font-size:2em;
    letter-spacing: -.05em;
}
.warning p {
    font-size:.5em;
    margin-top: 5em;
}
.cvsDiv .asterisk {
    color: rgba(255,255,255,.55);
    font-size:.75em;
    position:absolute;
    bottom: 5em;
    right: -4.5em;
    transform: rotate(-90deg);
}
.asterisk:before {
    content:"\002A";
}
.clearfix:after {
    clear:both;
    content:"";
    display:block;
}