* { margin:0; padding: 0; box-sizing:border-box; }
p + p { margin-top: 1em; }
p + a { margin-top:1.5em; }
article + article { margin-top:1em; }
/*section + section { margin-top:3em; }*/

body {
	background:url('images/background.jpg') no-repeat fixed;
	background-size:cover;
	color:#222;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight:100;
	letter-spacing:.1em;
}
header {
	height:6em;
	width:100%;
}
footer {
	background:#222;
	height:12em;
	width:100%;
}
h1 { 
	font-size: 7em;
	line-height:1.2em;
}
p { letter-spacing:0; }
a.cta1, a.cta2 {
	border-radius:.2em;
	display:block;
	padding:1.5em 0;
	text-align:center;
	text-decoration:none;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
a.cta1 {
	border:.2em #fff solid;
	color:#fff;
	margin-top:1.2em;
	width:17em;
	
}
a.cta1 span:last-child {
	color:rgba(34,34,34,.0);
	display:none;
}
a.cta1:hover {
	background-color:#E91E63;
	border:.2em #E91E63 solid;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
a.cta1:hover span:first-child {
	display:none;
}
a.cta1:hover span:last-child {
	color:rgba(255,255,255,1);
	display:block;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
a.cta2 {
	border:.15em #fff solid;
	color:#fff;
	width:12em;
}
a.cta2:hover {
	background-color: #009688;
	border:.15em #009688 solid;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:#fff;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
nav {
	float:right;
	margin: 3em;
}
nav a {
	color:#fff;
	font-size:1em;
	margin-left:1.5em;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
}
h1 span {
	padding:0 .05em .05em;
}
/************************
	colored background
*************************/
/*h1 span:nth-child(9n+1) {
	background:#E91E63;
}
h1 span:nth-child(9n+2) {
	background:#3F51B5;
}
h1 span:nth-child(9n+3) {
	background:#03A9F4;
}
h1 span:nth-child(9n+4) {
	background:#8BC34A;
}
h1 span:nth-child(9n+5) {
	background:#FFC107;
}
h1 span:nth-child(9n+6) {
	background:#FF5722;
}
h1 span:nth-child(9n+7) {
	background:#607D8B;
}
h1 span:nth-child(9n+8) {
	background:#9C27B0;
}
h1 span:nth-child(9n+9) {
	background:#009688;
}*/

/************************
	colored text
*************************/
/*h1 span:nth-child(9n+1) {
	color:#E91E63;
}
h1 span:nth-child(9n+2) {
	color:#3F51B5;
}
h1 span:nth-child(9n+3) {
	color:#03A9F4;
}
h1 span:nth-child(9n+4) {
	color:#8BC34A;
}
h1 span:nth-child(9n+5) {
	color:#FFC107;
}
h1 span:nth-child(9n+6) {
	color:#FF5722;
}
h1 span:nth-child(9n+7) {
	color:#607D8B;
}
h1 span:nth-child(9n+8) {
	color:#9C27B0;
}
h1 span:nth-child(9n+9) {
	color:#009688;
}*/

#splash {
	color:#fff;
	height: 90vh;
	padding-top:35vh; 
}
#mainContent {
	background:#E91E63;
	color:#fff;
	padding: 6.25em 0;
}
#mainContent .container {
	margin-bottom:3em;
}
/*#mainContent .container:last-child {
	margin-bottom:0;
}*/
.columns {
	float:left;
	padding:1em;
	width: 33.33%;
}
.container {
	max-width:75em;
	margin:0 auto;
}
video#bgVid {
	background: url(polina.jpg) no-repeat;
	background-size: cover;
	height: auto;
	min-width: 100%; 
	min-height:100%;
	width: auto;
	z-index: -100;
	position: fixed; right: 0; left:0; top: 0;
}
#cast {
	background:rgba(129,212,250,.8);
}
#blog {
	background:rgba(0,150,136,1);
	color:#fff;
}
#blog article {
	column-count: 3;
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
    column-gap: 2em;
	    -webkit-column-gap: 2em; /* Chrome, Safari, Opera */
	    -moz-column-gap: 2em; /* Firefox */
}
#video video {
	float:left;
	margin:0;
	padding:1em;
	width:33.33%;
}
.players {
	background:rgba(3,169,244,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius:.5em;
	color:#fff;
	float:left;
	margin:1%;
	padding:1em 2em 1em 1em;
	text-align:justify;
	width:48%;
}
/*.players div:first-child {
	background:#03A9F4;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.players div:last-child {
	background:#81D4FA;
}*/
.players img {
	border-radius:50%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	display:block;
	float:left;
	margin-right:2em;
	width:25%;
}
.players a img {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	float:left;
	width:4em;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.players a img:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor:pointer; 
    transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.players h2 {
	margin-bottom:.5em;
}
.players p {
	overflow:hidden;
	/*position: relative;
	top: 50%;
	transform: translateY(-50%);*/
}
.lvl1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.lvl2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.lvl3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.lvl4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lvl5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*********************
	Hamburger Menu
**********************/

.mobile-nav {
	display:none;
}
.menu-btn {
	background:#03A9F4;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding:1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 2em;
	height: .25em;
	margin: .25em 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
	background:#81D4FA;
	padding:1em;
}
.responsive-menu ul {
	list-style-type:none;
}