*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-feature-settings: "ss01" on;
  font-size: 18px;
}

.display-none {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h2 {
  font-size: 4em;
  text-transform: uppercase;
}

header {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header a {
  color: inherit;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}
header a:after {
  display: none;
}
header nav a {
  padding: 2em 1em;
}
header #logo-round {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.25em;
  position: absolute;
  left: 50%;
  top: 0.2em;
  transform: translateX(-50%);
  width: 8em;
}
header .social {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#intro,
footer {
  padding: 5em 1em;
}

footer {
  background-color: #0A213D;
  color: #fff;
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
}
footer svg .st0, footer svg {
  fill: #fff;
}
footer .social a:after {
  display: none;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
a:hover, a:focus {
  color: #0A213D;
}
a:after {
  display: block;
  content: "";
  width: 100%;
  height: 0.333em;
  background: #4D8BD6;
  position: absolute;
  bottom: 0.15em;
  z-index: -1;
  left: 0.333em;
}

.next-link {
  color: inherit;
  font-size: 2em;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.next-link:after {
  display: none;
}

#intro {
  background-size: cover;
  background-color: #245289;
  border-bottom: 2px solid;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  font-size: 1.5em;
  min-height: 100vh;
  overflow: hidden;
}
#intro svg {
  fill: white;
  width: 20em;
  display: block;
  margin: 0 auto;
}
#intro h1 {
  font-size: 4em;
}

#story {
  background-color: #245289;
  color: #fff;
  padding: 0 1em;
  position: relative;
  width: 100%;
  display: flex;
  gap: 2em;
}
#story p .title-case {
  display: block;
  font-size: 2em;
}
#story .wall-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-grow: 1;
}
#story .wall-container img {
  filter: grayscale(100%);
  display: block;
  width: 100%;
}
#story .part-one,
#story .part-two {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#story .part-two {
  justify-content: flex-start;
}

#about-us {
  background-image: url(../images/wall1.jpg);
  background-size: cover;
  min-height: 90vh;
}
#about-us p {
  max-width: 35em;
}

#carter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 2em 0;
  height: 100vh;
}
#carter .bio {
  max-width: 40em;
}
#carter h2 {
  color: #0A213D;
}
#carter img {
  max-height: 100%;
}

#gallery {
  background-color: #fff;
  padding-top: 5em;
  transform-origin: top center;
  z-index: 1;
  overflow: hidden;
}

.grid-item {
  width: 25%;
  padding: 0.5em;
}
.grid-item img {
  width: 100%;
}

.grid-item--width2 {
  padding: 0.5em;
  width: 50%;
  z-index: 1;
}
.grid-item--width2 img {
  width: 100%;
}

#news {
  display: flex;
  padding: 0;
  align-items: stretch;
}
#news > div {
  padding: 10em 5em 5em;
  flex: 1 1 0px;
}
#news > div h2 {
  font-size: 2em;
}
#news .articles {
  background-color: #8A3A32;
  color: #fff;
}
#news .articles article {
  margin-top: 1em;
}
#news .articles article + article {
  margin-top: 2em;
}
#news a:hover, #news a:focus {
  color: #fff;
}
#news a:after {
  display: block;
  content: "";
  width: 100%;
  height: 0.333em;
  background: #0A213D;
  position: absolute;
  bottom: 0.15em;
  z-index: -1;
  left: 0.333em;
}

.follow {
  background: #4D8BD6;
  color: #fff;
}
.follow form {
  margin: 1em 0;
  width: 100%;
}
.follow form > div {
  position: relative;
  display: flex;
}
.follow form > div input {
  background-color: #0A213D;
  border: 1px solid #245289;
  color: #fff;
  font: inherit;
  padding: 1.5rem;
  flex-grow: 1;
}
.follow form > div input:focus {
  outline: none;
}
.follow form > div [type=submit] {
  flex-grow: 0;
  color: #fff;
  cursor: pointer;
  padding: 1.5rem 3rem;
}
.follow form > div label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
  cursor: text;
  transition: all 666ms cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.follow form > div input:focus-within + label, .follow form > div input:valid + label {
  color: #4D8BD6;
  transform: translateY(-175%);
  font-size: 0.75em;
}

.social svg {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */