*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-feature-settings: "ss01" on;
  font-size: 18px;
}
@media (max-width: 450px) {
  body {
    font-size: 16px;
  }
}

.display-none {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: 4em;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  h2 {
    font-size: 3em;
  }
}
@media (max-width: 650px) {
  h2 {
    font-size: 2.5em;
  }
}
@media (max-width: 450px) {
  h2 {
    font-size: 2em;
  }
}

header {
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
header a {
  color: inherit;
  display: inline-block;
  padding: 1em;
  text-decoration: none;
}
@media (max-width: 450px) {
  header a {
    padding: 1em 0.5em;
  }
}
header a:after {
  display: none;
}
@media (max-width: 600px) {
  header nav {
    position: fixed;
    background: #0A213D;
    height: 100vh;
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    top: -150%;
    left: 0;
    z-index: 10;
    transition: all 666ms cubic-bezier(0.42, 0, 0.58, 1);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  header nav.open {
    top: 0;
  }
}
header nav a {
  padding: 2em 1em;
}
header #hamburger {
  border: none;
  padding: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  font: inherit;
}
header #hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #245289;
  margin-bottom: 6px;
}
header .close {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  font-size: 1em;
  z-index: 10;
}
header #logo-round {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.25em;
  position: absolute;
  left: 50%;
  top: 0.2em;
  transform: translateX(-50%);
  width: 8em;
}
@media (max-width: 650px) {
  header #logo-round {
    width: 7em;
  }
}
header .social {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  header .social {
    right: 0;
    top: 0;
    transform: initial;
  }
}

#intro,
footer {
  padding: 5em 1em;
}

footer {
  background-color: #0A213D;
  color: #fff;
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
}
footer svg .st0, footer svg {
  fill: #fff;
}
footer .social a:after {
  display: none;
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
a:hover, a:focus {
  color: #0A213D;
}
a:after {
  display: block;
  content: "";
  width: 100%;
  height: 0.333em;
  background: #4D8BD6;
  position: absolute;
  bottom: 0.15em;
  z-index: -1;
  left: 0.333em;
}

.next-link {
  color: inherit;
  font-size: 2em;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
}
.next-link:after {
  display: none;
}

#intro {
  background-size: cover;
  background-color: #245289;
  border-bottom: 2px solid;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  font-size: 1.5em;
  min-height: 100vh;
  overflow: hidden;
}
#intro svg {
  fill: white;
  width: 20em;
  display: block;
  margin: 0 auto;
}
#intro h1 {
  font-size: 4em;
}
@media (max-width: 1180px) {
  #intro h1 {
    font-size: 3em;
  }
}
@media (max-width: 870px) {
  #intro h1 {
    text-align: center;
  }
}
@media (max-width: 530px) {
  #intro h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 450px) {
  #intro h1 {
    font-size: 2em;
  }
}

#story {
  background-color: #245289;
  color: #fff;
  padding: 0 1em;
  position: relative;
  width: 100%;
  display: flex;
  gap: 2em;
}
#story p .title-case {
  display: block;
  font-size: 2em;
}
#story .wall-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-grow: 1;
}
#story .wall-container img {
  filter: grayscale(100%);
  display: block;
  width: 100%;
}
#story .part-one,
#story .part-two {
  color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
#story .part-two {
  justify-content: flex-start;
}

#about-us {
  background-image: url(../images/wall1.jpg);
  background-size: cover;
  min-height: 90vh;
}
#about-us p {
  max-width: 35em;
}

#carter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5em 0 0 2em;
  height: 100vh;
  overflow-x: hidden;
}
@media (max-width: 1120px) {
  #carter {
    position: relative;
    min-height: 100vh;
    height: initial;
  }
}
@media (max-width: 800px) {
  #carter {
    padding: 5em 0 1em 1em;
  }
}
@media (max-width: 450px) {
  #carter {
    display: block;
    min-height: initial;
  }
}
#carter .bio {
  max-width: 40em;
}
@media (max-width: 1120px) {
  #carter .bio {
    background: rgba(255, 255, 255, 0.9333333333);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    padding: 1em;
    position: absolute;
    top: 66.66%;
    left: 1em;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  #carter .bio {
    max-width: initial;
    width: calc(100% - 2em);
  }
}
@media (max-width: 650px) {
  #carter .bio {
    top: 60%;
  }
}
@media (max-width: 450px) {
  #carter .bio {
    width: calc(100% - 1em);
    position: relative;
    top: -8em;
    left: 0;
  }
}
#carter h2 {
  color: #0A213D;
}
#carter img {
  max-height: 100%;
  padding-left: 2em;
}
@media (max-width: 1400px) {
  #carter img {
    width: 50%;
    padding-left: 0;
  }
}
@media (max-width: 1120px) {
  #carter img {
    margin-left: auto;
    width: 66.66%;
  }
}
@media (max-width: 800px) {
  #carter img {
    width: 100%;
  }
}

.grid-item img {
  height: 50vh;
  padding: 0.333em;
}

#news {
  display: flex;
  padding: 0;
  align-items: stretch;
}
@media (max-width: 767px) {
  #news {
    flex-direction: column;
  }
}
#news > div {
  padding: 10em 5em;
  flex: 1 1 0px;
}
@media (max-width: 1180px) {
  #news > div {
    padding: 10em 2.5em;
  }
}
@media (max-width: 767px) {
  #news > div {
    padding: 7.5em 2.5em;
  }
}
#news > div h2 {
  font-size: 2em;
}
#news .articles {
  background-color: #8A3A32;
  color: #fff;
}
#news .articles article {
  margin-top: 1em;
}
#news .articles article + article {
  margin-top: 2em;
}
#news a:hover, #news a:focus {
  color: #fff;
}
#news a:after {
  display: block;
  content: "";
  width: 100%;
  height: 0.333em;
  background: #0A213D;
  position: absolute;
  bottom: 0.15em;
  z-index: -1;
  left: 0.333em;
}

.follow {
  position: relative;
}
@media (max-width: 767px) {
  .follow {
    min-height: 30em;
  }
}
.follow iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.social svg {
  fill: #245289;
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.show-mobile {
  display: none;
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
}
@media (max-width: 535px) {
  .second-line {
    display: block;
    font-size: 0.5em;
  }
}/*# sourceMappingURL=style.css.map */