* { margin:0; padding:0; box-sizing:border-box;  }
body {
    color:#333;
    font-size:16px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
}
section {
    padding:5em 0;
}
/**************
    home
**************/
section#splash {
    background:url(http://cache2.asset-cache.net/xc/479590788.jpg?v=2&c=IWSAsset&k=2&d=mI4-wz346yggQQnEq7Bzh0zB_u1w39w2Jmd523XMAiOAL9yato9yYeMqYn5z--Vx0) no-repeat fixed;
    background-size:cover;
    height:75vh;
    position:relative;
}
div.quote {
    background-color:rgba(70,166,103,1);
    padding:5em 0;
}
blockquote {
    color:#fff;
    font-size:2em;
    margin:auto;
    text-align:center;
    width:50%;
}
section#splash span {
    font-size:.66em;
    font-family: 'Lato', sans-serif;
    font-weight:400;
}
section#splash div {
    position:absolute;top:50%;left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
section#splash img {
    width:10em;
}

/**************
    marketing
**************/
#contentMarketing div>section {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:.2em;
    float:left;
    margin:.5%;
    min-height:25em;
    padding:2em;
    width:49%;
}
#contentMarketing .wrapper {
    clear:both;
    padding:5em 0;
}
section#contentSplash {
    background:url(images/lowpoly.jpg) fixed center no-repeat;
    background-size:cover;
    height:75vh;
}
#contentMarketing section img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 50%;
    display:block;
    margin:0 auto .5em;
    width:25%;
}
#contentMarketing footer {
    clear:both;
}
#contentMarketing p {
    width:100%;
}
#contentMarketing h2 {
    text-align: center;
}
/**************
    social
**************/

/**************
    creation
**************/

/**************
    about us
**************/

/**************
    blog
**************/

/**************
    contact
**************/

header {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding:1em;
    position:relative;
}
header img {
    float:left;
    width:20em;
}
nav {
    position:absolute;top:50%;right:1em;
    transform: translateY(-50%);
    z-index: 1;
}
nav a {
    border-radius:.2em;
    color:#333;
    margin:.5em;
    text-decoration:none;
    padding:1em;
}
nav a:hover {
    background-color:#f1683c;
    color:#fff;
}
footer {
    background-color:#333;
    color:#fff;
    padding:5em 0;
    text-align: center;
}
footer a {
    color:#fff;
}
footer p {
    margin:auto;
}
figure {
    float:left;
    padding:1em;
    width:16.66%;
}
figure img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:50%;
    width:100%;
    
}
figcaption {
    text-align: center;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', serif;
    font-weight:400;
    margin-bottom:.5em;
}
h1 {
    color:#fff;
    font-size:3em;
    line-height:.75em;
}
p {
    line-height:1.2em;
    width:50%;
}
#aboutIntro img {
    border-radius:50%;
}
.wrapper {
    max-width:1200px;
    margin:auto;
}
.page {
    border-bottom:2px solid red;
    padding-bottom: 5em;
}
.yak {
    background:url(images/95217830.jpg) no-repeat top fixed;
    background-size:cover;
    padding:0;
}
.yak div {
    background:rgba(0,0,0,.74);
    color:#fff;
    padding:5em 0;
    text-align:center;
}
/**************
    buttons
**************/
.cta {
    background-color:rgba(163,200,58,1);
    border-radius:.2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#fff;
    display:inline-block;
    font-size:1.5em;
    padding:1em 2em;
    text-decoration:none;
}
/**************
    Shadow
**************/
.lvl1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.lvl2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.lvl3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.lvl4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lvl5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}