* { margin:0; padding:0; box-sizing: border-box; }
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
body {
    color:rgba(0,0,0,.87);
    font-family: helvetica, arial, sans-serif;
    font-size:20px;
    text-align: center;
}
main {
    max-width:960px;
    margin:auto;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 4em;
font-style: normal;
margin-left: 0;
}.flaticon-hairsalon7:before {
	content: "\e000";
}
.flaticon-lizards:before {
	content: "\e001";
}
.flaticon-question30:before {
	content: "\e002";
}
.flaticon-rock8:before {
	content: "\e003";
}
.flaticon-text70:before {
	content: "\e004";
}
.flaticon-woman118:before {
	content: "\e005";
}
h1 {
    margin:1em 0;
}
h2 {
    margin-top: 1em;
}
h3 {
    color:rgba(0,0,0,.54);
    font-size:1em;
}
button {
    background-color:rgba(0,0,0,.87);
    border:none;
    color:#fff;
    cursor: pointer;
    padding: 1em 2em;
}
button:focus {
    outline:none;
}
button:hover {
    
}
#scoreboard {
    background-color:#306c5b;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color:#fff;
    margin:4em auto 0;
    padding-bottom:2em;
    position:relative;
    text-align:center;
}
#clock {
    background-color:#306c5b;
    border-radius:50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height:7em;
    position:absolute;top:0;left:50%;
    transform: translate(-50%,-50%);
    width:7em;
}
#clock p {
    font-size:1em;
    position:absolute;top:50%; left:50%;
    transform: translate(-50%,-50%)
}
#scoreboard>section {
    float:left;
    width:33.33%;
}
#scoreboard section>div {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    margin:0 auto .5em;
    padding:1em;
    width:50%;
}
#score {
    float:left;
    width:33.33%;
}

#score section {
    float:left;
    margin:5%;
    width:40%;
}
#scoreboard h2 {
    padding-top:2.5em;
}
#scoreboard section>p {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    font-size:3em;
    padding:.25em .5em;
}
#scoreboard h3 {
    color:#fff;
    margin-top:.5em;
}
/*#scoreboard p {
    background-image:url('../images/flip-top.png'), url('../images/flip-btm.png');
    background-repeat: no-repeat, no-repeat;
    background-position:top center, bottom center;
    color:#f9fe44;
    font-size:3em;
    line-height:1.2em;
}*/
#gameBoard {
    margin-top:1em;
    text-align: center;
}
#gameBoard section {
    float:left;
    padding:0em;
    width:50%;
}
section#selection {
    margin-top:2em;
    padding:0;
    width:100%;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}