* { margin:0; padding:0; box-sizing:border-box; }
body {
    font-family:helvetica, arial, sans-serif;
    font-size:20px;
    line-height:1.3;
}
.container {
    overflow: hidden;
    max-width: 600px;
    border: 1px solid;
    padding: 2em;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
input {
    border:1px solid;
    font-size:2em;
    margin-bottom: .25em;
    outline:none;
    padding: .5em 1em;
    text-align:right;
    width:100%;
}
button {
    background:green;
    color:#fff;
    border:none;
    font-size:1em;
    outline:none;
    padding:1em;
    margin: 2px;
}
.keypad {
    float:left;
    width: 75%;
}
.keypad button {
    float:left;
    width: calc(33.33% - 4px);
}
.controls {
    float:left;
    width: 25%;
}
.controls button {
    width: calc(100% - 4px);
}