body {
	background:#0a1359;
	color:#ffffff;
	font-size:16px;
	font-family: arial, helvetica, sans-serif;
}
a {
	color:orange;
}
h1,h2 {
	color:#aaa;
	font-family:georgia, serif;
}
h1 {
	font-size:3em;
}

